@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Nahuel Benitez </h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET</h2>

    <img id="foto"
    src="~/images/perfil.jpg" alt="Foto de Nahuel" />
</div>

<div class="text-center">
    <img id="logo-dotnet"
    src="~/images/dotnet-imagen-2.png" alt="Logo" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvendida">
         <h1 >Te doy la bienvenida a mi portafolio</h1>
         <p>

             Hola! me llamo Nahuel Benitez, apasionado por la programación y la tecnología. Soy estudiante de programación de manera autodidacta y a su vez me encuentro cursando la tecnicatura en programación en UTN.
             Tengo experiencia desarrollando aplicaciones de escritorio y actualmente me estoy especializando en el área de backend con C# y .NET (Web APIs, MVC). También estoy cursando inglés para poder lograr una comunicación fluida.
             Me caracterizo por ser una persona responsable, con comunicación efectiva, que se adapta con facilidad a cualquier entorno y siempre encuentra soluciones optimas a problemas complejos.
         </p>
    </div>
</div>